name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Build website
        run: npm run build
        working-directory: frontend

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys from main branch.
          # For deploys from other branches, commit authorship will be assigned
          # to the initiator of the workflow run
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com